{% extends 'back-office.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle Categorie</h1>

    {# Inclusion du formulaire de création de catégorie #}
    {{ include('categorie/_form.html.twig') }}

    {# Affichage des messages flash de succès #}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {# Lien pour retourner à la liste des catégories #}
    <a href="{{ path('app_categorie_index') }}">Retourner a la liste</a>
{% endblock %}
